*{
  box-sizing: border-box;
}

body{
  max-width: 1024px;
}

.center{
  margin-left: auto;
  margin-right: auto;
  
}

.animal{
  background-color: #DBECF6;
  border: 1px solid black;
  border-radius: 20px;
  max-height: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  overflow: hidden;
  width: 97%;
}

.expanded{
  max-height: 2000px;
}

.name{
  width: 95%;
  float: left;
}


.info{
  margin-top: 3px;
  overflow: hidden;
  width: 95%;
  
}

.col-3{
  width: 95%;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 1%;
  margin-right: 1%;
  border-bottom: 1px solid #D3D3D3;
}

.col-2{
  width: 46%;
  float: left;
  height: 70px;
}

.col-1{
  width: 31%;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 1%;
  margin-right: 1%;
  border-bottom: 1px solid #D3D3D3;
}

.description{
  text-align: justify;
  color: grey;
  width: 95%;
}

.cr{
  width: 95%;
  border-bottom: 3px solid black;
}

.search{
  width: 300px;
  height: 75px;
}

select{
  margin: 18%;
}

